[core]
	editor = vim
	excludesfile = /home/bucks/.gitignore_global
[color]
	ui = auto
        diff = auto
[alias]
        l = log --decorate
        s = status
        co = checkout
        f = fetch
        rom = rebase origin/master
        back1 = reset --hard HEAD~
        st = stash
        stp = stash pop
        pom = push origin master
        a   = add -p
[interactive]
	singleKey = true
[user]
	email = geoff@picomes.com
	name = Geoff Bucks
[commit]
	verbose = true
